@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("../src/assets/img/cartas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.suit {
  font-size: 100px;
}
#number {
  font-size: 100px;
}
h2 {
  margin-right: 2rem;
  color: #fff;
}
h1 {
  color: #fff;
}

.red-suit {
  color: red;
}
